extends ./homepage
block navigate
  div.container-fluid
    div.row-centered
      div.col-lg-6.col-centered
        form.form-group(action='/weather', method='post')
          p    
            input(type='text', class="form-control", id="zipcode",name='zipcode', placeholder='zipcode')
          p
            button(type='submit', class="btn btn-primary btn-lg" style='margin-right: 10px;') Login 
          h1= text
            i(class= 'wi wi-' + weathercond)
    div.jumbotron
      table.table
        thead.thead-dark
          tr
            th(scope='col') #
            th(scope='col') City
            th(scope='col') Temperature
            th(scope='col') Weather Condition
        tbody
          tr
            th(scope='row') 1
            td Albany,NY
            td= t1
            td= l1
          tr
            th(scope='row') 2
            td Leonia, NJ
            td= t2
            td= l2
          tr
            th(scope='row') 3
            td Montgomery, AL
            td= t3
            td= l3
    
    
  
