extends ./homepage
block navigate
  div.container-fluid
    div.row-centered
      div.col-lg-6.col-centered
        form.form-group(action='/weather', method='post')
          p    
            input(type='text', class="form-control", id="zipcode",name='zipcode', placeholder='zipcode')
          p
            button(type='submit', class="btn btn-primary btn-lg" style='margin-right: 10px;') Login 
          h1= text

    div.jumbotron
      table.table
        each temp in temps
        each weatherCondition in weatherConditions
        thead.thead-dark
          tr
            th(scope='col') #
            th(scope='col') City
            th(scope='col') Temp
            th(scope='col') Weather Condition
        tbody
          tr
            th(scope='row') 1
            td Montgomery
            td= temp
            td= weatherCondition
          tr
            th(scope='row') 2
            td Islip
            td= temp
            td= weatherCondition
          tr
            th(scope='row') 3
            td Leonia
            td= temp
            td= weatherCondition
      
      
    
